* {
  box-sizing: border-box;
}

body {
    background-image: url("../images/space.jpg");
    background-color: transparent;
    background-attachment: fixed;
    color: aliceblue;
  }

  #profile {
    width: 32px;
  }

  h1 {
    color: aliceblue;
    font-size: 8rem;
  }

  #contenedor {
    flex-wrap: wrap;
  }

#profile {
  display: inline;
}

.card {
  background-color: transparent;
  box-sizing: content-box;
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.card a {
  text-decoration: none;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 6rem;
  justify-content: space-evenly;
  margin: 4rem;
}

.card-image {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
  border: solid 1px rgb(150, 220, 248);
}

.card:hover {
  width: 32rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.button_float {
  float: right;
  margin: 0 !important;
}

.button_edition:hover {
  font-size: large;
}

.button_edition {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 5px !important;
}

.hidden {
  display: none;
}

#summary, #profile, #contact, #education, #experience, #skills, #languages {
  padding: 1rem 0;
}

#contact ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


#profile-img {
  width: 200px;
  margin: 1rem;
}

#about {
  padding: 8rem 5rem;
  font-size: larger;
}

#home {
  padding: 8rem 5rem;
}

textarea {
  width: 98%;
}

#contact label {
  width: 5em;
}

#education label {
  width: 10rem;
}

#education>div, #experience>div {
  margin: 2rem 0rem;
  padding-left: 3rem;
}

#confirm {
  margin-bottom: 3rem !important;
}


@media only screen and (max-width: 990px) {

  #about {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 5rem;
  }

}
